.item-list {
  display: flex;
  width: 100%;
  gap: 24px;
  margin-top: 34px;
  flex: 1;
  overflow-y: auto;
  height: 800px;

  &__column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // gap: 12px;
  }
}

.header {
  background-color: rgba(0, 0, 0, .05);
  color: #212121;
  text-align: left;
  padding: 10px;
  padding-left: 30px;
  font-size: 1.4em;
}
