@import '@squidcloud/ui/styles/colors';

.item-list {
  display: flex;
  width: 100%;
  gap: 24px;
  margin-top: 34px;
  flex: 1;
  overflow-y: auto;
  padding: 0px 10px 10px 10px;

  &__column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 10px 10px 10px;
  }
}

.heading {
  color: var(--Light-bg2, #f8f9fc);
  font-family: Degular;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 1px;
  display: flex;
  padding: 12px 32px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: var(--Boarder-Radius-rounded-l, 12px)
    var(--Boarder-Radius-rounded-l, 12px) 0px 0px;
  border: 0px solid var(--color-grey-light-line1, #e1e6ef);
  background: var(--color-grey-dark-line1, #3f444d);
}
