#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  overflow: hidden;
  background: var(--color-grey-light-bg3, #f1f3f9);
}

button {
  border: none;
}

h1 {
  color: var(--color-grey-light-bg1, #fff);
  text-align: center;
  font-family: 'Degular Display';
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1.12px;
}

.container {
  width: 100%;
  display: flex;
  align-items: start;
  min-height: 80%;
  padding: 20px;
}

.backgroundImg {
  padding: 40px 20px 40px 20px;
  background-image: url('../public/hero-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  height: 200px;
}
